.signupBody{
    width: 60%;
    height: 100%;
    background-color:#e2e2e2 ;
    font-family: 'Baloo';
    direction: rtl;
    padding: 2rem;
    color: gray;
}
.signupBody form{
    width: 100%;
}

.signupBody h2{
    margin-bottom:2rem;
    font-size: 1.7rem;
}
.signupBtn{
    all: unset;
    width: 80%;
    height: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    background-color:#aaa;
    margin: 3rem;
    border: 1px solid #aaa;
    border-radius: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.signupBtn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
@media screen and (max-width:800px) {
    .signupBody{
        width: 75%;
    }
}
@media screen and (max-width:500px) {
    .signupBody{
        width: 95%;
    }
}
