.loginContainer{
    width: 50%;
    height: 80vh;
    background-color:var(--basic-gray-color) ;
    direction: rtl;
    padding: 2rem;
    color: var(--original-gray);
}
.loginContainer h2{
    margin-bottom:2rem;
    font-size: 1.7rem;
}
.loginContainer form{
    width: 100%;
}

.label{
    width: 8rem;
}
.loginBtn{
    all: unset;
    width: 80%;
    height: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    background-color:var(--soft-gray);
    margin: 3rem;
    border: 1px solid var(--soft-gray);
    border-radius: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--original-white);
}
.loginBtn:hover{
    background-color: var(--original-gray);
}
.loginBtn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.loginContainer a{
    font-size: 1.4rem;
}
.loginContainer a:hover{
    text-decoration: underline;
}
@media screen and (max-width:800px) {
    .loginContainer{
        width: 70%;
    }
}
@media screen and (max-width:500px) {
    .loginContainer{
        width: 95%;
    }
}
