@font-face {
  font-family: 'Baloo';
  src: url('../public/asstes/fonts/BalooBhaijaan2-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  font-family: cursive, 'Baloo';
  background-color: #f6f6f6;
}
