@font-face {
  font-family: 'Baloo';
  src: url('../public/asstes/fonts/BalooBhaijaan2-Regular.woff') format('woff');
}
* ,
*:after ,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --original-gray:gray;
  --soft-gray : #aaa ;
  --bg-color: #f6f6f6;
  --original-white : #fff;
  --error-color :red;
  --original-black : #000;
  --basic-gray-color :#e2e2e2;
  --main-black : #3b3b3b ;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background-color: var(--bg-color);
}
#root{
  height: 100%;
}
.App {
  width: 100vw;
  height: 100%;
  font-family: 'Baloo',Arial, Helvetica, sans-serif, 'Baloo';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}