.label {
  width: 10rem;
  font-size: 1.5rem;
}
.textInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}
.input {
  width: 100%;
}
.textInput input {
  all: unset;
  width: 60%;
  margin-right: 2rem;
  height: 2rem;
  padding: 1rem 2rem;
  background-color: var(--original-white);
  border: 1px solid var(--original-white);
  border-radius: 2rem;
  font-size: 1.3rem;
  direction: rtl;
}
.textInput input:focus{
  border: 1px solid var(--original-gray);
}

.eyePass {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.2rem;
  transform: translate(3rem, 0.7rem);
  cursor: pointer;
  color: var(--soft-gray);
  position: absolute;
}
.eyePass:hover {
  color: var(--original-gray);
}

.error {
  font-size: 1rem;
  color: var(--error-color);
  position: absolute;
  transform: translate(0rem, 2rem);
}

.InputRadio {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.InputRadio .label .error{
    transform: translate(-0.2rem);
}
.radioOption {
  width: 6rem;
  margin-right: 1rem;
  display: flex;
}
.radioOption label {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.InputRadio .error {
  transform: translate(0.7rem);
}
.formControl {
  font-size: 2rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
input[type='radio'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--original-white);
  /* Not removed via appearance */
  margin: 0;
  color: currentColor;
  width: 1.3em;
  height: 1.3em;
  border: 0.15em solid currentColor;
  border-radius: 100%;
  transform: translateY(0.075em);
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type='radio']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s transform ease-in-out;
  box-shadow: inset 1em 1em var(--original-gray);
  background-color: var(--original-gray);
}
input[type='radio']:checked::before {
  transform: scale(1);
}

@media screen and (max-width: 800px) {
  .label {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .textInput label {
    font-size: 1.2rem;
  }
}
